body {
    font-family: "PT Sans", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*  Nav bar   */
.logo{
	width : 7rem; 
	height : 6rem;
}

.navbar-brand {
    font-size: 1.3rem;
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .navbar-brand {
        margin-left: -1.5rem;   
    }
  }

.navbar-nav li a {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    margin-right: 1.5rem;
    text-decoration: none;
}

li a:hover, .nav-btn {
    background-color: #be2915;
    border-radius: 1rem;
}

.nav-btn {
    font-size: 1rem;
    font-weight: 500;
    color: black;
}


/*                   Home page                 */
.top-text{
    line-height: 1;
    text-align: center;
    color: #fff;   
}

.primary-btn {
    display: inline-block;
    font-size: 0.7rem;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    padding: 0 0.7rem 0 0.7rem;
    margin-top: 1rem;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #cf2c16;
    border-right: 2px solid #be2915;
    line-height: 2.5rem;
}

.primary-btn:hover {
	color: #fff;
	background: #cf2c16;
	background: -o-linear-gradient(left, #cf2c16, #be2915);
	background: linear-gradient(to right, #cf2c16, #be2915);
}

.top-img {
    height: 30rem;
    width: 100%;
}
.description-img {
    height: 28rem;
}

.description-paragraph {
    line-height: 2rem;
    font-size: 1rem;
}

.welcome-text  {
    line-height: 1.5;
    color: #fff;   
}


@media screen and (max-width: 860px) {
    .welcome-img {
       height: 28rem;  
    }
  }

  @media screen and (max-width: 450px) {
    .welcome-img {
       height: 40rem;  
    }
  }

  /*  Trainers section  */

  .trainer-section {
      background-color: black;
  }

 .trainer-description {
    text-align: center;
	background-color: #be2915;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    margin-top: -3.4rem;
 }

 .trainer-job{
	color: black;
	font-size: 1rem;
	font-weight: bold;	
}

.trainer-name {
    font-size: 1.25rem;
}

.trainer-img {
    border-radius: 10px;
    height: 30rem;
}

  /*  Newsletter section  */


.newsletter-form input {
	height: 63px;
	padding: 10px 35px;
	border: none;
}

.site-btn {
	display: inline-block;
	border: none;
	font-size: 20px;
	font-weight: 700;
	min-width: 228px;
	padding: 20px 40px;
	background: transparent;
	text-decoration: none;
	color: white;
	line-height: normal;
	text-align: center;
}

.site-btn:hover {
	color : white;
	transform: scale(1.3);
}

.newsletter-img {
    height: 25rem;
}

/*   Footer section  */
.footer {
    background-color: black;
    color: white;
}

.TUESDAY {
    margin-left: 2.8rem;
}

.THURSDAY {
    margin-left: 2rem;
}

.FRIDAY {
    margin-left: 4.2rem;
}

.SATURDAY {
    margin-left: 2.2rem;
}

.SUNDAY {
    margin-left: 3.7rem;
}

.adress {
    margin-left: 0.3rem;
}

a i {
    text-decoration: none;
    color: white;
}
